{% extends "base/base.html" %}

{% block content %}
<h1>腾腾和小bck</h1>

<h3>
    <a href={{ gold_run_data.log.get_wcl_link }}>wcl链接</a>
</h3>
<div class="accordion" id="feeIntroduce">
      <div class="card">
          <div class="card-header" id="headingFour">
          <h2 class="mb-0">
              <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapse_feeIntroduce" aria-expanded="false" aria-controls="collapseThree">
                  补贴说明
              </button>
          </h2>
        </div>
      </div>
      <div id="collapse_feeIntroduce" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div>
            <h4>常规坦克：总金额1200，根据坦克WCL承受伤害活跃度比例分配</h4>
            <h4>泰坦：250/瓶</h4>
            <h4>天堂路骑士坦：100</h4>
            <h4>术士坦：150x2</h4>
            <h4>全程治疗量：前5 200 100 100 50 50</h4>
            <h4>全程牧/德/骑治疗量第一：50x3</h4>
            <h4>全程驱散：前3 100 50 50</h4>
            <h4>BOSS治疗量：前5 100 50 50 25 25</h4>
            <h4>全程近战伤害量：前5 200 100 100 50 50</h4>
            <h4>全程远程伤害量：前5 200 100 100 50 50</h4>
            <h4>BOSS伤害量：前5 100 50 50 25 25</h4>
            <h4>其拉勇士伤害量：前3 50 25 25</h4>
            <h4>其拉执行者伤害量：前5 100 50 50</h4>
            <h4>其拉斩灵者伤害量：前3 50 25 25</h4>
            <h4>黑曜石终结者伤害量：前3 50 25 25</h4>
            <h4>毒囊费用：打一次小软2000，团长先行垫付</h4>
            <h4>本网站开发者补贴：200</h4>
          </div>
        </div>
    </div>
<div>
<div class="accordion" id="classicSummary">
      <div class="card">
          <div class="card-header" id="headingFive">
          <h2 class="mb-0">
              <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapse_classicSummary" aria-expanded="false" aria-controls="collapseThree">
                  工资汇总
              </button>
          </h2>
        </div>
      </div>
      <div id="collapse_classicSummary" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div>
            <h4 style="color:#B8860B">战士总工资：{{ gold_run_data.warrior_all }}</h4>
            <h4 style="color:#FF69B4">骑士总工资：{{ gold_run_data.paladin_all }}</h4>
            <h4 style="color:#9ACD32">猎人总工资：{{ gold_run_data.hunter_all }}</h4>
            <h4 style="color:#FFD700">盗贼总工资：{{ gold_run_data.rogue_all }}</h4>
            <h4 style="color:#FF8C00">小德总工资：{{ gold_run_data.druid_all }}</h4>
            <h4 style="color:#00BFFF">法师总工资：{{ gold_run_data.mage_all }}</h4>
            <h4 style="color:#FFFFFF">牧师总工资：{{ gold_run_data.priest_all }}</h4>
            <h4 style="color:#7B68EE">术士总工资：{{ gold_run_data.warlock_all }}</h4>
          </div>
        </div>
    </div>

<div class="accordion" id="feeSummary">
      <div class="card">
          <div class="card-header" id="headingSix">
          <h2 class="mb-0">
              <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapse_feeSummary" aria-expanded="false" aria-controls="collapseThree">
                  补贴汇总
              </button>
          </h2>
        </div>
      </div>
      <div id="collapse_feeSummary" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div>
            <h4 style="color:#FF0000">坦克总补贴：{{ gold_run_data.tank_fee }}</h4>
            <h4 style="color:#00FF00">治疗总补贴：{{ gold_run_data.heal_fee }}</h4>
            <h4 style="color:#0000FF">输出总补贴：{{ gold_run_data.dps_fee }}</h4>
            <h4 style="color:#FF00FF">其他补贴/罚款：{{ gold_run_data.other_fee }}</h4>
          </div>
        </div>
    </div>

{% if gold_run_data.run_obj_list %}
    <div class="accordion" id="accordionExample">
      <div class="card">
          <div class="card-header" id="headingThree">
          <h2 class="mb-0">
              <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapse_summary" aria-expanded="false" aria-controls="collapseThree">
                  工资明细
              </button>
          </h2>
        </div>
      </div>
      <div id="collapse_summary" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>职责</td>
                        <td>职业</td>
                        <td>底薪</td>
                        <td>奖励/处罚</td>
                        <td>总工资</td>
                    </tr>
                </thead>
                {% for run_obj in gold_run_data.run_obj_list %}
                <tbody>
                    <tr bgcolor="{{ run_obj.color_code }}">
                        <td>{{ run_obj.name }}</td>
                        <td>{{ run_obj.tag }}</td>
                        <td>{{ run_obj.classic }}</td>
                        <td>{{ run_obj.base_gold }}</td>
                        <td>{{ run_obj.all_fee }}</td>
                        <td>{{ run_obj.total_gold }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>

    <div class="accordion" id="accordionExample1">
      <div class="card">
          <div class="card-header" id="headingThree1">
          <h2 class="mb-0">
              <button class="btn btn-link collapsed btn-lg" type="button" data-toggle="collapse" data-target="#collapse_detail" aria-expanded="false" aria-controls="collapseThree">
                  补贴明细
              </button>
          </h2>
        </div>
      </div>
      <div id="collapse_detail" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>职责</td>
                        <td>职业</td>
                        <td>泰坦</td>
                        <td>坦克补助</td>
                        <td>治疗全程</td>
                        <td>治疗职业</td>
                        <td>治疗BOSS</td>
                        <td>驱散</td>
                        <td>近战全程</td>
                        <td>远程全程</td>
                        <td>DPS BOSS</td>
                        <td>其拉勇士</td>
                        <td>其拉执行者</td>
                        <td>其拉斩灵者</td>
                        <td>黑曜石终结者</td>
                        <td>跳怪猎人</td>
                        <td>其他奖励/罚款</td>
                        <td>总补贴/罚款</td>
                    </tr>
                </thead>
                {% for run_obj in gold_run_data.run_obj_list %}
                <tbody>
                    <tr bgcolor="{{ run_obj.color_code }}">
                        <td>{{ run_obj.name }}</td>
                        <td>{{ run_obj.tag }}</td>
                        <td>{{ run_obj.classic }}</td>
                        <td>{{ run_obj.titan }}</td>
                        <td>{{ run_obj.tank }}</td>
                        <td>{{ run_obj.heal_total }}</td>
                        <td>{{ run_obj.heal_classic }}</td>
                        <td>{{ run_obj.heal_boss }}</td>
                        <td>{{ run_obj.dispel }}</td>
                        <td>{{ run_obj.dps_total_melee }}</td>
                        <td>{{ run_obj.dps_total_range }}</td>
                        <td>{{ run_obj.dps_boss }}</td>
                        <td>{{ run_obj.dps_qiraji_champion }}</td>
                        <td>{{ run_obj.dps_qiraji_slayer }}</td>
                        <td>{{ run_obj.dps_qiraji_mindslayer }}</td>
                        <td>{{ run_obj.dps_obsidian_nullifier }}</td>
                        <td>{{ run_obj.jumper }}</td>
                        <td>{{ run_obj.other_punishment }}</td>
                        <td>{{ run_obj.all_fee }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
          </div>
        </div>
    </div>

{% else %}
<p>No Data yet. Please check .</p>
{% endif %}

{% endblock %}